body {
  font-family: 'Roboto', sans-serif;
}

/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.questionBox {
  padding-left: 75px;
  padding-right: 75px;
}

.indexBox {
  padding-top: 75px;
  padding-left: 75px;
  padding-right: 75px;
  margin: auto;
}

.newQuestionBox .newAnswerBox {
  padding: 25px;
}

.questionQuote {
  height: 150px;
  width: 300px;
}

.newQButton {
  text-align: center;
  padding-left: 75px;
  padding-right: 75px;
}

.pageTop {
  padding-bottom: 50px;
  text-align: center;
}

.jumbotron {
  height: 200px;
  margin: 0px;
  text-align: center;
  background-image: url(https://hd.unsplash.com/photo-1463130456064-77fda7f96d6b);
}

.jumboText {
  border-top: none;
  height: 180px;
  margin: 0px;
}

.votesText {
  display: inline;
}

.votesButton {
  display: inline;
}

.questionHead {
  text-align: center;
}

.questionSub {
  display: inline;
}
