<div class="container">
  <header class = "jumbotron">
    <h1 class="jumboText">{{#link-to 'index'}}Questions and Answers{{/link-to}}</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <h5>Copyright 2016 Matt Carlson</h5>
  </footer>
</div>
