<div class="container">
  <header class = "jumbotron">
    <h1 class="jumboText">Q&A</h1>
  </header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>
    {{outlet}}
  <hr>
  <footer>
    <h5>Copyright 2016 Matt Carlson</h5>
  </footer>
</div>
