<h1> Welcome to Q&A! </h1>

<ul class="list-group">
  {{#each model.questions as |question|}}
    <li class="list-group-item">
      {{#link-to 'question' question.id}}{{question.content}} by {{question.author}}{{/link-to}}
    </li>
  {{/each}}
</ul>

{{new-question sentFromNewQuestionComponent="saveAtIndexRoute"}}
