<div class="container-fluid indexBox">

  <div class="container questionList">
    <div class="row">
        {{#each model.questions as |question|}}
            <div class="col-md-4 questionQuote">
              <blockquote>
                <p>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</p>
                <footer>{{question.author}}</footer>
              </blockquote>
            </div>
        {{/each}}
    </div>
  </div>
  <div class="newQButton">
    {{new-question  sentFromNewQuestionComponent="saveAtIndexRoute"}}
  </div>
</div>
